
<h2>Welcome To An Unreadable List of Subways!</h2>

<div class='miniuser-list'>
  <% @users.each do |user| %>
    <div class='miniuser'>
      <p class='username'>
        <%= user.username %>
      </p>
      <img src="<%= user.avatar %>" alt="" />
    </div>
  <% end %>
</div>