<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Subway Entrances</title>
	<link rel="scripts" href="/scripts/scripts.js">
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
	<center>
		<h1>SUBWAY ENTRANCES</h1>
	</center>
		<%= yield %>
</body>
</html>